
    <div class="container">
        <h3>.NET Core vs .NET Framework</h3>
        <div class="row">
            <div class="col-6">
                <h4>.NET Core</h4>
                <ul>
                    <li>Geared toward open-source/cross-platform</li>
                    <li>Some Features behind .NET Framework</li>
                    <li>More Portable, Optimized, Designed for Cloud Development</li>
                </ul>
            </div>
            <div class="col-6">
                <h4>.NET Framework</h4>
                <ul>
                    <li>Geared toward Windows platforms, Hosted in IIS</li>
                    <li>Common Language Runtime (CLR)</li>
                    <li>More Stable, Developed since 90s: more expansive and refined libraries</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4>.NET Core 3.x</h4>
                <ul>
                    <li>Released in November 2019</li>
                    <li>C# 8.0, New Features, Optimized, Stablized for Containerization</li>
                    <li>Blazor WebAssembly!!!</li>
                </ul>

            </div>
            <div class="col-6">
                <h4>.NET 5</h4>
                <ul>
                    <li>Proposed release in November 2020</li>
                    <li>"Unified Platform": Windows, Mac, Linux, Web, Mobile, Cloud, IoT, Gaming, Machine Learning and Data Science</li>
                    <li>All capabilities for .NET Framework, .NET Core and Xamarin, WPF, UWP, ASP.NET MVC, Entity Framework, LINQ, etc</li>
                </ul>
            </div>
        </div>
    </div>

@code {

}
