<div class="container">
    <h3>Intro</h3>
    <h4><u>Overview:</u></h4>
    <ul>
        <li>.NET Core vs. .NET Framework: A Background</li>
        <li>What is Azure Functions?</li>
        <li>Changes in Architecture</li>
        <li>Blazor</li>
        <li>Why Functions?</li>
    </ul>
</div>

@code {

}
