
<div class="container pt-3" style="max-height:275px;">
    <div class="row">
        <h3>What Is Azure Functions?</h3>
        <p>
            Azure Functions is the Azure platform's version of serverless compute. This is an on-
            demand service that is configurable to be triggered by a multitude of events and capable
            of utilizing several different functional languages to execute various types of business
            logic i.e. accessing/writing to databases, reading/writing from Azure Blob storage,
            making web requests, etc.
        </p>
    </div>
    <div class="row">
        <div class="col-12">Can be used in conjunction with:</div>
        <ul>
            <li>Other Azure Functions</li>
            <li>Logic Apps</li>
            <li>Event Grid</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-12">Supports the following languages:</div>
        <div class="col-6">
            <ul>
                <li>C#</li>
                <li>JavaScript</li>
                <li>Java</li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li>F#</li>
                <li>Powershell</li>
                <li>Python</li>
                <li>TypeScript</li>
            </ul>
        </div>
    </div>
</div>

@code {

}
