
<div class="container pt-3">
    <div class="row">
        <h3>What Is Azure Functions?</h3>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <img class="w-100" src="https://miro.medium.com/max/1580/1*tR25lCPFIaU1wiliaLI0Xg.jpeg"/>
            </div>
            <div class="col-12 col-md-6 col-lg-8">
                <h4>Azure Functions:</h4>
                <p>
                    Azure platform's version of <span style="font-weight:bold;">serverless</span> compute. This is an on-demand 
                    service that is configurable to be triggered by a multitude of events and capable
                    of utilizing several different functional languages to execute various types of business
                    logic i.e. accessing/writing to databases, reading/writing from Azure Blob storage,
                    making web requests, etc.
                </p>
                <h4>Can be used in conjunction with:</h4>
                    <ul>
                        <li>Other Azure Functions</li>
                        <li>Logic Apps</li>
                        <li>Event Grid</li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12"><h4>Supports the following languages:</h4></div>
        <div class="row pt-2" style="text-align:center;">
            <div class="col-12 col-md-4 col-lg-4 pb-1">
                <img class="langImg w-50" src="https://cdn.worldvectorlogo.com/logos/c--4.svg"/>
            </div>
            <div class="col-12 col-md-4 col-lg-4 pb-1">
                <img class="langImg w-50" src="https://logoeps.com/wp-content/uploads/2011/06/java-logo-vector.png"/>
            </div>
            <div class="col-12 col-md-4 col-lg-4 pb-1">
                <img class="langImg w-50" src="https://raw.githubusercontent.com/remojansen/logo.ts/master/ts.png"/>
            </div>
            <div class="col-12 col-md-4 col-lg-4 pb-1">
                <img class="langImg w-50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1024px-Python-logo-notext.svg.png"/>
            </div>
            <div class="col-12 col-md-4 col-lg-4 pb-1">
                <img class="langImg w-50" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/PowerShell_5.0_icon.png"/>
            </div>
            <div class="col-12 col-md-4 col-lg-4 pb-1">
                <img class="langImg w-50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png"/>
            </div>
            <div class="col-12 col-md-4 col-lg-4 pb-1">
                <img class="langImg w-50" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d5/Fsharp%2C_Logomark%2C_October_2014.svg/1024px-Fsharp%2C_Logomark%2C_October_2014.svg.png"/>
            </div>
        </div>
    </div>
</div>

@code {

}
