<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <h3>Why .NET Serverless Architecture?</h3>
            <div class="row">
                <ul>
                    <li>Reduce Cost and Resources</li>
                    <li>Use One Language for Presentation, Business, and Data Layers</li>
                    <li>Reduce Duplication of Code Between Front-End and Back-End (save time in Dev)</li>
                    <li>Easy to Develop, Easy to Deploy</li>
                    <li>.NET Core is Open-Platform Making it Easily Migratable</li>
                    <li>More to come!!!</li>
                </ul>        
            </div>
            <h3>Why Azure Functions?</h3>
            <div class="row">
                <ul>
                    <li>Multiple payment plans</li>
                    <li>More Configurable Triggers and Bindings</li>
                    <li>Easy to Develop, Easy to Deploy</li>
                </ul>        
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <img id="funcImg" class="w-100" src="https://www.signalfx.com/wp-content/uploads/2018/05/AzureFunctions.png"/>
        </div>
    </div>
</div>